<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280975346681-tumfieoo4s58vtofmdk2he8scrrt3vkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280975346681-tumfieoo4s58vtofmdk2he8scrrt3vkv</string>
	<key>API_KEY</key>
	<string>AIzaSyBVooIf83pbjiwwogfiM8MQ-6HVtnBeQt0</string>
	<key>GCM_SENDER_ID</key>
	<string>280975346681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donate</string>
	<key>PROJECT_ID</key>
	<string>donate-6bd49</string>
	<key>STORAGE_BUCKET</key>
	<string>donate-6bd49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280975346681:ios:e004539d72e0e257328b28</string>
</dict>
</plist>